* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 169, 203);
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
        display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

div {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskInput {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

#b {
    padding: 0.7rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    background: rgb(183, 103, 162);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

#b:hover {
    color: rgb(255, 255, 255);
    background: rgb(157, 57, 135);
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    color: rgb(255, 248, 251);
    background: rgb(99, 115, 170);
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

li {
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;

    align-items: center;
    color: rgb(255, 246, 247);
    background-color: rgb(168, 132, 192);
    padding: 15px 10px;
    border-radius: 40px;
    font-size: 25px;
}


.deleteTask {
    background-color: rgb(84, 40, 120);
    color: rgb(218, 215, 220);
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;

}

.k {
font-size: 20px;
color: rgb(47, 25, 136);
background-color: rgb(240, 156, 217);
border: none;
padding: 10px 10px;;
border-radius: 10px;
cursor: pointer;
}

.k, .deleteTask{
    display: flex;
    justify-content: flex-end;
}

.cc {
    background-color: rgb(215, 243, 172);
    padding: 10px 10px;;
    border-radius: 10px;
}

/*Resonsive Design*/


@media screen and (max-width:500px){
   
    #taskInput {
        width:75%;
        padding: 0.5rem;
        padding-left: 1rem;
        font-size: 1.8rem;
        border: none;
        background: white;
        border-radius: 2rem;
        margin-left: 20px;
        
    }
    
    #b {
        width:25%;
        padding: 0.7rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 2rem;
        color: rgb(255, 255, 255);
        background: rgb(183, 103, 162);
        cursor: pointer;
        transition: all 0.3 ease;
        margin-left: 0.5rem;
        margin-right: 20px;
    }
    

    
}
